/* Кнопка История */

button{  
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    text-transform: inherit;
    font-weight: inherit;
    line-height: inherit;
    appearance: none; 
  }
 
  .button-outer {
      display: block;
    width: 400px;   
    max-width: 100%; 
    border-radius: 4px; 
    margin: 0 auto;
    margin-bottom: 0; 
    overflow: hidden; 
    position: relative; 
    transform: translatez(0); 
    text-decoration: none;
    box-sizing: border-box; 
    font-size: 2rem; 
      font-weight: normal; 
      box-shadow: 0 9px 18px rgba(0,0,0,0.2); 
  }
  
  .button-inside {
      text-align: center;
    padding: 13px;
    color: white;
    transition: all 0.2s ease-out 0s;
  }
  
  .gradient {
      display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(90px circle at top center, rgba(229,46,113,.8) 30%, rgba(255,255,255,0));
    transition: all 0s ease-out 0s;
      transform: translatex(-150px); 
      animation: 20s linear 0s infinite move;
  }
  
  @keyframes move {
      0% {
          transform: translatex(-250px);
      }
      25% {
          transform: translatex(250px);
          opacity: 0.3; 
      }
      50% {
          transform: translatex(250px);
          opacity: 1;
          background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
      }
      75% {
          transform: translatex(-250px);
          opacity: 0.3;
      }
      100% {
          opacity: 1;
          transform: translatex(-250px);
          background: radial-gradient(90px circle at top center, rgba(229,46,113,.8 ) 30%, rgba(255,255,255,0));
      }
  }